body {
    font-size: 18px;
}

.container {
    border: 2px solid #4476a2;
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.warning-msg {
    color: #ff0000;
    margin: 5px 0px 5px 20px;
}

.form-wrapper {
    margin: auto;
}

.form-label {
    display: inline-block;
    width: 120px;
    background-color: #70ad47;
    border: 2px solid #41719c;
    padding: 8px;
    margin: 8px 10px 8px 0px;
    color: #ffffff;
}

.form-input {
    display: inline-block;
    padding: 11px 10px 11px 10px;
    border: 2px solid #41719c;
}

#name.form-input,
#address.form-input {
    width: 320px;
}

#birthday.form-input {
    width: 180px;
}

/* Hide number input spin buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:where([type="radio"]) {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #41719c;
    border-radius: 100%;
    background: #ffffff;
}

input[type="radio"]:checked {
    background: #70ad47;
}

.form-select {
    display: inline-block;
    width: 180px;
    padding: 11px 10px 11px 10px;
    border: 2px solid #41719c;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 5px;
    background: url("./select-arrow.png") no-repeat #ffffff;
    pointer-events: none;
}

.submit-btn {
    display: block;
    background-color: #70ad47;
    padding: 16px 32px;
    border: 2px solid #41719c;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 10px auto;
    color: #ffffff;
}
